.map-card {
	height: 70%;
	display: flex;
	flex-flow: column nowrap;
}

#map {
	flex: 1;
}

footer {
	height: auto;
	margin: 16px;
	text-align: center;
	color: var(--dark-grey);
}

.footer-content {
	display: flex;
	align-items: center;
}

.footer-content img {
	width: 40px;
	height: 40px;
	margin-right: 16px;
}

.footer-content p {
	margin-bottom: 0;
	text-align: left;
}
