.map-card {
	height: 85%;
	margin: 0 16px 32px 16px;
	display: flex;
	flex-flow: column nowrap;
}

#map {
	flex: 1;
}

.map-card__text {
	padding: 16px 16px 0 16px;
}

.footer {
	height: auto;
	margin: 0 16px;
	text-align: center;
	color: var(--blue);
}

.footer a {
	color: var(--blue);
	font-weight: 600;
}
